.chating-area{
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.connection-header{
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,0.4),
    rgba(255,255,255,0.2));
    border-radius: 0 2rem 0 0;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.connection-info {
    opacity: 0.7;
    padding-left: 1rem;
    flex: 1;
}

.connection-info h3{
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.connection-info p{
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}
.connection-right{
    color: gray;
    opacity: 1;
}
.connection-right i{
    padding: 0 1rem;
}


.Message-body{
    flex: 1;
    background-repeat: repeat;
    background-position: center;
    padding: 1.5rem;
    overflow: auto;
}

.Message-body::-webkit-scrollbar{
    width:0.25rem;
    height: 0%;
    display: block;
}

.Message-body::-webkit-scrollbar-track{
    background-color: none;
}
.Message-body::-webkit-scrollbar-thumb{
    background-color: rgb(155, 153, 153);
}

.Message-body::-webkit-scrollbar-corner{
    display: none;
}
.Message-body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(97, 95, 95);
}
.Message-body::-webkit-scrollbar-track:vertical {
    display: none;   
}
 
.chat-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
}

.chat-footer form{
    flex: 1;
    display: flex;
}

.chat-footer form input{
    flex: 1;
    border-radius: 1rem;
    padding: 0.5rem;
    background: linear-gradient(
    to right top,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.4));
    /* background-color: brown; */
    border: none;
    outline: none;
}

.chat-footer form button{
    padding: 0;
    background:none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.7;
}
.chat-footer i{
    padding: 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.display{
    display: contents;
}
.hide{
    display: none;
}

.chatSetting{
    /* position: relative; */
    /* transform: translateX(20rem,40rem); */
    /* left: -20rem; */
    /* right: 20%; */
    height: 5rem;
    width: 5rem;
    background-color: brown;
}