.CreateNewGroup-area{
    width: 65%;
}

.header{
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,0.4),
    rgba(255,255,255,0.2));
    border-radius: 0 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header h3{
    opacity: 0.7;
    font-weight: 500;
}

.SelectedParticipants{
    height: 3rem;
    background-repeat: repeat;
    background-position: center;
    padding: 1rem;
    overflow: auto;
    opacity: 0.7;
}

.SelectedParticipants span{
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.6));
    line-height: 2.5rem;
}

.SelectedParticipants span i{
    opacity: 0.5;
    font-size: 0.8rem;
    margin-left: 0.4rem;
}
.SelectedParticipants::-webkit-scrollbar{
    width:0.25rem;
    height: 0%;
    display: block;
}

.Add-Participants{
    padding: 0 1rem;
}

.Add-Participants h4{
    margin-top: 0.5rem;
    opacity: 0.7;
    font-weight: 500;
}

.ParticipantsList{
    height: 20rem;
    background-repeat: repeat;
    background-position: center;
    padding: 1rem;
    overflow: auto;
    opacity: 0.7;
}

.ParticipantsList div{
    font-weight: 400;   
    padding: 0.5rem;
    margin: 0 1rem 1rem 1rem;
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.6));
}

.ParticipantsList div i{
    position: relative;
    opacity: 0.7;
    font-size: 0.8rem;
    left: 95%;
}

.ParticipantsList::-webkit-scrollbar{
    width:0.25rem;
    height: 0%;
    display: block;
}

.ParticipantsList::-webkit-scrollbar-track{
    background-color: none;
}
.ParticipantsList::-webkit-scrollbar-thumb{
    background-color: rgb(155, 153, 153);
}

.ParticipantsList::-webkit-scrollbar-corner{
    display: none;
}
.ParticipantsList::-webkit-scrollbar-thumb:hover{
    background-color: rgb(97, 95, 95);
}
.ParticipantsList::-webkit-scrollbar-track:vertical {
    display: none;   
}

.Submit{
    margin-top: 1rem;
    margin-left: 1rem;
}

.GroupName{
    border-radius: 1rem;
    /* margin-top: 1.5rem; */
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(
    to right top,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.4));
    border: none;
    outline: none;
}

.Submit i{
    position: relative;
    top: 0.5rem;
    left: 2rem;
    font-size: 2rem;
    color:rgba(27, 206, 27, 0.7);
}

.Submit i:hover{
    color:rgba(27, 206, 27,1);
}