.glass{
    background: white;
    height: 90vh;
    width: 60%;
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,0.4),
    rgba(255,255,255,0.2));
    border-radius: 2rem;
    /* z-index: 2; */
    backdrop-filter: blur(2rem);
    display: flex;
}
