.loading{
    position: fixed;
    display: flex;
}
.square{
    position: relative;
    width: 10rem;
    height: 10rem;
    animation: rotate 4s linear infinite;
    border: 1rem dashed rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1rem rgba(0,0,0,0.5), inset 0 0 0 1rem rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes rotate {
0%{
    transform: rotate(360deg);
}
100%{
    transform: rotate(0deg);
}
}
.square span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
}

.square span::before{

content: '';
position: absolute;
width: 100%;
height: 100%;
border: none;
border-top: 1rem solid rgb(243, 229, 229);
animation: animate 2s linear infinite;
}
@keyframes animate {
0%{
    left: -100%;
}
25%{
    left: 0%;
}
50%,100%{
    left: 100%;
}
}

.square span:nth-child(1)
{
transform: rotate(0deg);
}

.square span:nth-child(2)
{
transform: rotate(90deg);
}
.square span:nth-child(3)
{
transform: rotate(180deg);
}
.square span:nth-child(4)
{
transform: rotate(270deg);
}

.square span:nth-child(1):before
{
animation-delay: 0s;
}

.square span:nth-child(2):before
{
animation-delay: 0.5s;
}
.square span:nth-child(3):before
{
animation-delay: 1s;
}
.square span:nth-child(4):before
{
animation-delay: 1.5s;
}

.square img{
    width: 50%;
    height: 50%;
    animation: rotateright 4s linear infinite;
}
@keyframes rotateright {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }   
}

.para{
    letter-spacing: 1mm;
}
.para p
{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0%;
}


.buttons button{
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background: linear-gradient(
    to right top ,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0.5));
    border-radius: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.buttons button:hover{
    background: linear-gradient(
    to right bottom ,
    rgba(255,255,255,1),
    rgba(255,255,255,0.8));
}