label{
    display: block;
}

.signupbutton{
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background: linear-gradient(
    to right top ,
    rgba(255,255,255,0.9),
    rgba(255,255,255,0.5));
    border-radius: 1rem;
    opacity: 0.7;
    cursor: pointer;
}